<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
     xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd ">
 
     <!--使用Annotation方式 完成映射  -->
     <!--让spring扫描包下所有的类，让标注spring注解的类生效  -->
     <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter" >
		<property name="messageConverters">
			<list><ref bean="mappingJacksonHttpMessageConverter"/></list>
		</property>
     </bean>
     <context:component-scan base-package="io.github.no5972.dbsp.controllers"/>
     <mvc:annotation-driven/>  
     <!--视图解析器  -->
     <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	     <property name="prefix" value="/"></property>
	     <property name="suffix" value=".jsp"></property>
     </bean>
     <bean id="mappingJacksonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
     	<property name="supportedMediaTypes">
     		<list><value>application/json;charset=UTF-8</value></list>
     	</property>
     </bean>
     <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/manage_*.php"/>
            <mvc:exclude-mapping path="/user/index"/>
            <bean class="io.github.no5972.dbsp.othertools.LoginInteceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>